<div style="width:1px;height:0px;overflow:hidden">
    <script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F51a272962556f44673a5ce60de095555' type='text/javascript'%3E%3C/script%3E"));</script>
</div>