<div class="head-area">
    <div class="mes-head clearfix">
      <a href="/" class="main-logo"></a>
      <div class="h-ico-area fl-r">
        <a href="javascript:;" id="nav_account" class="h-ico-item"><em class="nb-ico-acc"></em></a>
        <a href="/shopcar" class="h-ico-item"><em class="nb-ico-car"></em><em class="nb-num" id="shopcar_num" style="display:none">0</em></a>
        <a href="javascript:;" id="nav_my_order" class="h-ico-item"><em class="nb-ico-order"></em></a>
      </div>
    </div>
  </div>
  <% include nav_script %>