<!DOCTYPE html>
<html>
<head>
  <title>MES-修改密码</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script %>
</head>
<body>
  <div id="app_main" class="app-main app-nav">
    <% include includes/header_v2 %>

    <div class="scroll-area">
      <div class="content-area">
        <div class="content">

          <div class="dialog">
            <div class="dialog-head">
              <p class="dia-title">修改登录密码</p>
            </div>
            <div class="dialog-con">
              <form action="">
                <div class="check-container">
                  <input type="password" id="old_password" class="global-input no-border-b" placeholder="请输入当前密码">
                  <span class="tips-container" style="display:none">密码错误</span><!-- 错误信息容器,出现2秒后消失 -->
                </div>
                <div class="check-container">
                  <input type="password" id="new_password" class="global-input no-border" placeholder="请输入6位或以上密码">
                  <span class="tips-container" style="display:none">不能为空密码</span>
                </div>
                <div class="check-container">
                  <input type="password" id="repeat_password" class="global-input no-border-t" placeholder="请再次确认密码">
                  <span class="tips-container" style="display:none">两次输入不一致</span>
                </div>
                <div class="single-btn-area">
                  <input class="btn status1-btn" type="button" value="确定" id="change_button">
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</body>
<script>
$('#change_button').click(function() {
	var old = $('#old_password').val();
	if (!old || old.split('').length < 6) {
	  $('#old_password').next().show();
	  setTimeout(function() {
	    $('#old_password').next().hide();
	  }, 2000);
	  return;
	}
	var repeate = $('#repeat_password').val();
	if (!repeate || repeate.split('').length < 7) {
	  $('#repeat_password').next().show();
	  setTimeout(function() {
	    $('#repeat_password').next().hide();
	  }, 2000);
	  return;
	}

	var newPassword = $('#new_password').val();
	if (newPassword !== repeate) {
	  $('#new_password').next().show();
	  setTimeout(function() {
	    $('#new_password').next().hide();
	  }, 2000);
	  return;
	}

	$.post('/changePassword?mod=account&action=change_password', {
	  'old' : old,
	  'new' : newPassword
	}, function(d) {
	  if (d.code == 0) {
	    M.confirm('密码修改成功!')
	  } else {
	    M.confirm('密码修改失败!')
	  }
	  $('#old_password').val('');
	  $('#new_password').val('');
	  $('#repeat_password').val('');
	}); 
	return false;
}); 						
</script>
<% include includes/baidu %>
</html>