<!DOCTYPE html>
<html>
<head>
  <title>修改密码</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script %>
</head>
<body>
  <div id="app_main" class="app-main app-nav">
    <% include includes/header_v2 %>

    <div class="scroll-area">
      <div class="content-area">
        <div class="content"> 

          <div class="dialog">
            <div class="dialog-head">
              <p class="dia-title">礼金卡充值</p>
            </div>
            <div class="dialog-con">
              <form action="">
                <div class="tl-c recharge-area">
                  <input type="text" class="global-input" style="width:52px;">
                  <input type="text" class="global-input" style="width:52px;">
                  <input type="text" class="global-input" style="width:52px;">
                  <input type="text" class="global-input" style="width:52px;">
                </div>
                <div class="check-container">
                  <input type="password" class="global-input" placeholder="请输入卡的密码">
                  <span class="tips-container">输入错误</span><!-- 错误信息容器,出现2秒后消失 -->
                </div>
                <div class="check-container">
                  <input type="text" class="global-input slide-code-btn" placeholder="请输入您的手机号码" style="width:198px;">
                  <span class="tips-container">输入错误</span><!-- 错误信息容器,出现2秒后消失 -->
                </div><a href="" class="btn vert-btn code-btn">获取验证码</a>
                <div class="check-container">
                  <input type="password" class="global-input" placeholder="请输入短信验证码">
                  <span class="tips-container">输入错误</span><!-- 错误信息容器,出现2秒后消失 -->
                </div>
                <div class="single-btn-area">
                  <input class="btn status1-btn" type="submit" value="确定">
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <% include includes/baidu %>
</body>
</html>