<!DOCTYPE html>
<html>
<head>
    <title>MES-结算</title>
    <% include includes/static_config %>
    <% include includes/static_loader %>
    <% include includes/head_script_v2 %>
    <style>
        .error-border {
            border-color: red
        }
    </style>
</head>
<body>

<div id="app_main" class="app-main app-nav">
    <div class="return-area"><a class="ra-ico" href="/"></a><span class="ra-con">订单确认</span></div>
    <div class="scroll-area" id="scroll_container" style="padding-bottom:15px;padding-top:40px;">

        <div class="data-item">
            <p class="wap-order-title-item" id="staff_container">订单信息</p>

            <div class="line-item" style="display:none" id="fee_bar">运费：<span class="woi-price" style="color:#ff7e00;"
                                                                              id="address_fee_top">免邮</span></div>
            <div class="leave-mes" style="padding:0;">
                <div class="check-container" style="width:100%;">
                    <input type="text" id="message_input" class="global-input has-bor-input" placeholder="留言说明（20字以内）"
                           style="margin-bottom:0;">
                </div>
            </div>
        </div>

        <div class="data-item" id="new_address_container" style="display:none">
            <p class="wap-order-title-item">收货地址</p>

            <div class="check-container">
                <input type="text" id="new_contact" class="global-input has-bor-input" placeholder="收货人姓名">
            </div>
            <div class="check-container">
                <input type="telephone" id="new_tel" class="global-input has-bor-input" placeholder="联系电话">
            </div>
            <div class="clearfix tl-c">
                <div class="check-container fl-l" style="width:20%;">
                    <input type="text" class="global-input has-bor-input" placeholder="北京市" disabled="disabled">
                    <input type="hidden" id="city_sel" value="441">
                </div>
                <div class="check-container fl-r" style="width:45%;display:none" id="street_container">
                    <input type="text" class="global-input has-bor-input" placeholder="请选择街道" id="street_picker">
                    <input type="hidden" id="district_sel" value="0">
                </div>
                <div class="check-container" style="width:75%;" id="zone_container">
                    <input type="text" class="global-input has-bor-input" placeholder="请选择区" id="zone_picker">
                    <input type="hidden" id="region_sel" value="0">
                </div>
            </div>

            <div class="check-container">
                <input type="text" id="new_address" class="global-input has-bor-input" placeholder="详细地址">
            </div>
        </div>

        <div class="data-item" id="new_address_link" style="display:none">
            <p class="pos-r">新增地址<em class="wap-more-ico"></em></p>
        </div>


        <div class="data-item" id="address_container" style="display:none">
            <p class="wap-order-title-item">收货地址</p>
        </div>

        <div class="clearfix pad-l-r10">
            <em class="check-btn fl-l" style="display:none" id="new_address_btn">添加新地址</em>
            <em class="check-btn fl-r" style="display:none" id="more_address_btn">显示更多地址<em
                        class="wap-ad-down-ico"></em></em>
        </div>

        <div class="data-item">
            <p class="wap-order-title-item">送货时间</p>

            <div class="check-container" id="date_picker_parent">
                <input type="text" class="global-input has-bor-input" placeholder="请选择送货日期" id="date_picker"
                       onkeydown="return false;">
                <em class="date-ico"></em>
                <input type="hidden" id="year_sel" value="0">
                <input type="hidden" id="month_sel" value="0">
                <input type="hidden" id="day_sel" value="0">
            </div>
            <div class="check-container">
                <input type="text" class="global-input has-bor-input" placeholder="请选择送货时段" id="time_picker"
                       onkeydown="return false;">
                <em class="time-ico"></em>
                <input type="hidden" id="hour_sel" value="0">
                <input type="hidden" id="minute_sel" value="0">
            </div>
        </div>
        <div class="data-item" style="padding-bottom:15px;">
            <h4 class="wap-order-title-item">付款方式</h4>

            <div class="wap-order-item pay_container" style="padding:14px 10px;" id="cash_container" data-id="1">
                <label for="cashon">货到付款
                    <em class="wap-radio wap-radio-item checked pay_sel" id="cashon"></em>
                </label>
            </div>
            <div class="wap-order-item pay_container" style="padding:14px 10px;" id="alipay_container" data-id="3">
                <label for="alipay">支付宝<em class="wap-radio wap-radio-item pay_sel" id="alipay"></em></label>
            </div>
            <div class="wap-order-item pay_container" style="padding:14px 10px;" id="kuaiqian_container" data-id="4">
                <label for="kuaiqian">快钱<em class="wap-radio wap-radio-item pay_sel" id="kuaiqian"></em></label>
            </div>
        </div>
    </div>

    <div class="wap-total-btn-area">
        <p class="wtb-item-btn">
            <a href="#" id="done_button" class="btn big-btn status1-btn">付款</a>
        </p>

        <p class="wtb-item-total">
        <span style="font-size:18px; margin-bottom:4px; display:block;">合计<span id="total_price"></span>元
	<span style="display:none;font-size:14px;" id="shipping_fee_display">(含10元运费)</span>
	</span>
            <span style="color:#999;"><span id="staff_count">0</span>件商品</span>
        </p>
    </div>
</div>
<form action="http://www.mescake.com/flow.php" method="post" id="submit_form">
    <input type="hidden" id="leaving_message" name="leaving_message">
    <input type="hidden" name="pay_id" value="1" id="pay_id">
    <input type="hidden" name="surplus" value="0.00" id="surplus">
    <input type="hidden" name="bonus_id" value="请输入10位现金券券号" id="bonus_id">
    <input type="hidden" name="shipping_fee" value="0.00" id="shipping_fee">
    <input type="hidden" name="x" value="97">
    <input type="hidden" name="y" value="32">
    <input type="hidden" name="token" value="from_mobile">
    <input type="hidden" name="step" value="done">
</form>
<script>
    window.HAS_BIG_STAFF = false;
    window.HAS_NO_SUGAR_STAFF = false;
    window.server_date = '<%=date%>';
    M.loading();
    Loader(['touch/js/picker.js', 'touch/js/checkout.js', 'touch/js/shopcar_checkout.js']);
</script>
<% include includes/baidu %>
</body>
</html>