<!DOCTYPE html>
<html>
<head>
  <title>修改密码</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script %>
</head>
<body>
  <div id="app_main" class="app-main app-nav">
    <% include includes/header_v2 %>

    <div class="scroll-area">
      <div class="content-area">
        <div class="content">

          <div class="dialog">
            <div class="dialog-head">
              <p class="dia-title">修改登录密码</p>
              <a href="" class="close-ico">X</a>
            </div>
            <div class="dialog-con">
              <form action="">
                <div class="check-container">
                  <input type="text" class="global-input no-border-b" placeholder="请输入当前密码">
                  <span class="tips-container">密码错误</span><!-- 错误信息容器,出现2秒后消失 -->
                </div>
                <div class="check-container">
                  <input type="text" class="global-input no-border" placeholder="请输入6位或以上密码">
                  <span class="tips-container">不能为空密码</span>
                </div>
                <div class="check-container">
                  <input type="text" class="global-input no-border-t" placeholder="请再次确认密码">
                  <span class="tips-container">两次输入不一致</span>
                </div>
                <div class="single-btn-area">
                  <input class="btn status1-btn" type="submit" value="确定">
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</body>
<script>
$('#popup_login').click(function() {
  var from = location.href.split('?')[1];
  var username = $('#popup_login_id').val();
  var password = $('#popup_login_password').val();

  if ($.trim(username) == '') {
    $('#popup_login_id').next().show();
    return false;
  }

  if ($.trim(password) == '') {
    $('#popup_login_password').next().show();
    return false;
  }
  M.loading();
  $.post('/loginApi?mod=account&action=login', {
    username : username,
    password : password
  }, function(d) {
    if (d.code == 0) {
	if(from=='account'){
	 location.href = M.touchDomain;
	}else{
	 location.href =  M.touchDomain;
	}
       
    } else {
      M.loadingEnd();
      $('#popup_login_error').show();
    }
  });
  return false;
}); 						
</script>
<% include includes/baidu %>
</html>