<!DOCTYPE html>
<html>
<head>
  <title>MES-会员登陆</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script %>
</head>
<body>
  <div id="app_main" class="app-main app-nav">
    <% include includes/header_v2 %>

    <div class="scroll-area">
      <div class="content-area">
        <div class="content">

          <div class="dialog">
            <div class="dialog-head">
              <p class="dia-title">用户登录</p>
            </div>
            <div class="dialog-con">
              <form>
                <div class="check-container">
                  <input type="text" class="global-input no-border-b" placeholder="手机号码" id="popup_login_id">
                  <span class="tips-container" style="display:none">请填手机号码</span>
          	      <span class="tips-container" id="popup_login_error" style="display:none">用户名或密码错误</span>
                </div>
                <div class="check-container">
                  <input type="password" class="global-input no-border-t" placeholder="用户密码" id="popup_login_password">
                  <span class="tips-container" style="display:none">请填用户密码</span>
                </div>
                <input class="btn status1-btn big-btn long-btn" type="button" value="登录" id="popup_login">
                <div class="pass-area hide">
                  <a href="/forgetpassword">忘记密码</a>
                </div>
                <a href="/register" class="btn big-btn long-btn">新用户注册</a>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <% include includes/baidu %>
</body>
<script>
$('#popup_login').click(function() {
  var from = location.href.split('?')[1];
  var username = $('#popup_login_id').val();
  var password = $('#popup_login_password').val();

  if ($.trim(username) == '') {
    $('#popup_login_id').next().show();
    return false;
  }

  if ($.trim(password) == '') {
    $('#popup_login_password').next().show();
    return false;
  }
  M.loading();
  $.post('/loginApi?mod=account&action=login', {
    username : username,
    password : password
  }, function(d) {
    if (d.code == 0) {
	if(from=='account'){
	 location.href = M.touchDomain;
	}else{
	 location.href =  M.touchDomain;
	}
       
    } else {
      M.loadingEnd();
      $('#popup_login_error').show();
    }
  });
  return false;
}); 						
</script>
</html>