<!DOCTYPE html>
<html>
<head>
  <title>MES-设置密码</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script %>
</head>
<body>
  <div id="app_main" class="app-main app-nav">
    <% include includes/header_v2 %>
    <div class="scroll-area">
      <div class="content-area">
    <div class="content">
      <div class="suc-container tl-c">
        <div class="suc-bg-area">
          <div class="n-box">
            <em class="buy-line"></em>
            <div class="box-inner">
              <p class="suc-tip">为了方便随时查看订单的制作进度，建议您设置一个登录密码哦</p>
              <p class="suc-tip2">机号码 <span id="moblie_number"></span> 就是您的登录名</p>
              <div class="check-container" style="vertical-align:top;">
                <input type="password" class="global-input has-bor-input" placeholder="请设置6位或以上密码" id="password_input">
                <span class="tips-container hide" id="set_warn">请设置6位或以上密码</span>
              </div><input class="btn status1-btn big-btn vert-btn" type="button" value="确认" id="change_password">
            </div>
            <em class="buy-line2"></em>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
<script>
(function(){
	$('#password_input').focus(function(){
		$('#set_warn').hide();
	});

	$('#change_password').click(function(){
		var password = $('#password_input').val();
		//检测一下密码的长度
		if(!password||password.split('').length<6){
			$('#set_warn').show();
			return;
		}
	
		$.post('/changeUnregisterPassword?mod=account&action=change_unregister_password',{
			password:password
		},function(d){
			if(d.code == 0){
					M.confirm('现在你已经成为了mescake的会员，可以在我的订单中追踪订购的商品',function(){
						location.href="/myorder";
					});
				
			}else if(d.code == 1){
				$('#set_warn').show();
			}else{
				new confirm('系统错误！');
			}
		});
	});

	//设置一下UI 上的展示效果
	$.get('/getAutoRegisterMobile?action=get_auto_register_mobile&mod=account',{
		_tc:Math.random()
	},function(d){
		if(d.code == 0){
			$('#moblie_number').html(d.msg);
		}
	},'json');

})();
</script>
<% include includes/baidu %>
</body>  
</html>