<!DOCTYPE html>
<html>
<head>
  <title>MES-购物车</title>
  <% include includes/static_config %>
  <% include includes/static_loader %>
  <% include includes/head_script %>
</head>
<body>
<div id="app_main" class="app-main app-nav">
    <% include includes/header_v2 %>
    <div class="scroll-area">
      <div class="content-area">
        <div class="content">
          <div class="order-area">
            <div class="has-no-order">
              <h4 class="content-title">您的购物车中没有商品</h4>
              <a href="/" class="btn big-btn status2-btn" style="margin-right:0;">赶紧去选购吧 &gt;&gt;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include includes/baidu %>
</body>  
</html>