.wap-little-tip{font-size: 12px; color: #ff7e00; padding: 0 10px;}

.wap-total-price{text-align: right; margin-top: -26px; padding-right: 10px; color: #ff7e00; font-weight: bold;}


body{background: #f6f6f6; position: relative;}

.address-detail{padding-right: 30px; position: relative;}
.address-num{font-weight: bold; margin-left: 10px;}

.wap-order-title-item {color: #ff7e00; padding: 0;}

/* 璐墿杞ss澶囦唤 */
.wap-order-item{padding:0 0 10px 70px; overflow: hidden; margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2; position: relative;
}
.woi-img{border: 1px solid #ededed; width: 60px; height: 60px; line-height: 60px; text-align: center;  left: 0; top:0; position: absolute;}
.woi-img img{width: 54px; height: auto; vertical-align: middle;}

.woi-tip{color: #999; font-size: 12px; overflow: hidden;}
.woi-price{float: right; color: #333;}

.leave-mes .global-input{padding:10px; box-sizing:border-box; height: 42px; width: 100%;}
.leave-mes .global-input:focus{box-shadow: inset 0 0 8px #eaeaea;}

.wap-total-btn-area{
    background: #f6f6f6;
    background: -webkit-linear-gradient(top, #fff, #ededed);
    background: -moz-linear-gradient(top, #fff, #ededed);
    background: -ms-linear-gradient(top, #fff, #ededed);
    background: linear-gradient(top, #fff, #ededed);
    border-top: 1px solid #ccc; padding: 10px 0 6px 0; position: absolute; bottom: 0; left: 0; width: 100%;}
.wap-total-btn-area p{color: #ff7e00;}
.wtb-item-total{width: 160px; display: inline-block; padding-left: 10px;}
.wtb-item-btn{float: right;}

/* 鏃堕棿鎸夐挳 */
.date-ico,
.time-ico{display: inline-block; width: 24px; height: 24px; position: absolute; right: 10px; top:10px; }
.date-ico{background: url(img/time-ico.png) 0 0 no-repeat;}
.time-ico{background: url(img/time-ico2.png) 0 0 no-repeat;}
.date-ico,
.time-ico{background-size: 24px 24px;}
