/*宸茬粡鏁村悎鍒颁簡orderbuy涓簡銆�*/

/*	body{background: #f6f6f6;}
	.pos-r{position: relative;}
	.shop-car .wap-order-item{padding-left: 80px; background: #fff; margin: 10px 0; border-top: 1px solid #ddd; border-bottom:1px solid #ddd; overflow: hidden;}
	.shop-car .woi-img{border: 1px solid #ededed; width: 60px; height: 60px; line-height: 60px; text-align: center;}
	.shop-car .woi-img img{width: 54px; height: auto; vertical-align: middle;}
	.shop-car .wap-radio{right: auto; left: 10px;}
	.woi-price{color: #333;}
	.del-ico{display: inline-block; width:18px; height:18px; background:url(img/wap-close31.png) 0 0 no-repeat; background-size: 18px 18px; float: right; vertical-align: middle; margin:8px 10px 0 0;}
	.shop-car .num-func-area{width: 200px; float: left;}

	.add-ico-me{color: #333;}
	.add-ico-me.clicked{color: #f00;}
	.wap-total-btn-area{
	background: #f6f6f6;
background: -webkit-linear-gradient(top, #fff, #ededed);
  background: -moz-linear-gradient(top, #fff, #ededed);
  background: -ms-linear-gradient(top, #fff, #ededed);
  background: linear-gradient(top, #fff, #ededed);
	 border-top: 1px solid #ccc; padding: 10px 0 6px 0;}
	 .wtb-item-total{width: 120px; display: inline-block; padding-left: 10px;}
	 .wtb-item-btn{float: right;}*/